!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Театральный дом
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
  
  %body#page.page
    = Haml::Engine.new(File.read('views/common/_alerts.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_header.haml')).render
    
    %main#main.main{role: "main"}

      %section.section.__full.__home{role: "region", "aria-label" => "Home"}
        .ctn

      %section.section.__full.__intro{role: "region", "aria-label" => "Intro"}
        .ctn
          %article.block
            %header
              %h1.tx.__major.__upper.__center Премьера сезона
            %hr.hr
            %h3.tx.__major.__center.m-b_2
              &laquo;Театральный дом&raquo;
              %br
              на Поварской
            %p.tx.__center
              От&nbsp;Станиславского и&nbsp;Мейерхольда&nbsp;&mdash; к&nbsp;современной эстетике
              %br
              и&nbsp;уровню комфорта премиум-класса.

      %section.section.__full.__characteristics{role: "region", "aria-label" => "Сharacteristics"}
        .ctn
          %article.block.__border
            %header.block_h
              %h2.block_t Характеристики
            %hr.hr
            .cnt
              %p &laquo;Театральный дом&raquo; состоит из&nbsp;8&nbsp;секций, объединенных единым подземным паркингом. Этажность&nbsp;&mdash; от&nbsp;4&nbsp;до&nbsp;7.
              %p Верхние этажи занимают апартаменты с&nbsp;эксплуатируемой кровлей, где вы&nbsp;можете разбить свой личный садик и&nbsp;обустроить место для вечерних посиделок с&nbsp;семьей и&nbsp;друзьями. Более того, именно в&nbsp;этих квартирах предусмотрена установка камина, что только добавит вашему жилью дополнительный уют.

      %section.section.__full.__equipment{role: "region", "aria-label" => "Equipment"}
        .ctn
          %article.block.__border
            %header.block_h
              %h2.block_t Оснащение
            %hr.hr
            .cnt
              %p Бесшумные лифты высокого класса с&nbsp;дизайнерской отделкой кабин.
              %p 
                Индивидуальная общеобменная вентиляция и&nbsp;система VRV во&nbsp;всех апартаментах.
                %br
                Круглосуточно поддерживается система контроля доступа, охранно-тревожная сигнализа- ция, система видеодомофонной связи, а&nbsp;также система видеонаблюдения.
              %p Высота и&nbsp;ширина проездов в&nbsp;паркинге, отсутствие зависимых машиномест обеспечат комфортный проезд для легковых автомобилей любых габаритов. Для особо крупноразмерных авто предусмотрены специальные машиноместа.
              %p Лифты из&nbsp;подземного паркинга следуют прямо на&nbsp;жилые этажи, без пересадок.
              %p Для каждого апартамента предусмотрена изолированная сезонная кладовая на&nbsp;территории подземного паркинга.

      %section.section.__location{role: "region", "aria-label" => "Location"}
        .ctn
          %article.block.__border
            %header.block_h
              %h2.block_t Расположение
            %hr.hr
            .cnt
              %p Престижное расположение Театрального Дома свидетельствует об&nbsp;особом статусе его владельцев. В&nbsp;десяти минутах пешком&nbsp;&mdash; Кремль, Храм Христа Спасителя, ул. Старый Арбат, Пушкинская площадь. Из&nbsp;окон открывается прекрасный вид на&nbsp;зелёный сквер Мерзляковского переулка и&nbsp;Поварскую улицу, где преобладает малоэтажная застройка.
                  
      %section.section.__full.__feedback#feedback{role: "region", "aria-label" => "Feedback"}
        .ctn
          %article.block.__border
            %header.block_h
              %h2.block_t Заказать звонок
            %hr.hr
            .cnt.tx.__center
              %p 
                Мы&nbsp;перезвоним вам в&nbsp;удобное для вас время 
                %br
                и&nbsp;проконсультируем по&nbsp;всем вопросам