!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Театральный дом
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
  
  %body#page.page
    = Haml::Engine.new(File.read('views/common/_alerts.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_header.haml')).render
    
    %main#main.main{role: "main"}

      %section.section.__full.__home{role: "region", "aria-label" => "Home"}
        .ctn

      %section.section.__full.__intro{role: "region", "aria-label" => "Intro"}
        .ctn
          %article.block
            %header
              %h1.tx.__major.__upper.__center Премьера сезона
            %hr.hr.m-t_2.m-b_1
            %h3.tx.__major.__center.m-b_2
              &laquo;Театральный дом&raquo;
              %br
              на Поварской
            %p.tx.__center
              От&nbsp;Станиславского и&nbsp;Мейерхольда&nbsp;&mdash; к&nbsp;современной эстетике
              %br
              и&nbsp;уровню комфорта премиум-класса.

      %section.section.__full.__characteristics{role: "region", "aria-label" => "Сharacteristics"}
        .ctn
          %article.block.__border
            %header.block_h
              %h2.block_t Характеристики
            %hr.hr.m-t_1.m-b_2
            .cnt
              %p &laquo;Театральный дом&raquo; состоит из&nbsp;8&nbsp;секций, объединенных единым подземным паркингом. Этажность&nbsp;&mdash; от&nbsp;4&nbsp;до&nbsp;7.
              %p Верхние этажи занимают апартаменты с&nbsp;эксплуатируемой кровлей, где вы&nbsp;можете разбить свой личный садик и&nbsp;обустроить место для вечерних посиделок с&nbsp;семьей и&nbsp;друзьями. Более того, именно в&nbsp;этих квартирах предусмотрена установка камина, что только добавит вашему жилью дополнительный уют.
              .m-b_2
                .grid
                  .grid-i.__grid-2>
                    %p Всего апартаментов
                    %p.alpha.tx.__major 129
                  .grid-i.__grid-4>
                    %p Площади апартаментов
                    %p.alpha.tx.__major 67&mdash;260&nbsp;м
              %p Имеется возможность объединения апартаментов по&nbsp;горизонтали, верхних этажей&nbsp;&mdash; по&nbsp;вертикали.              

      %section.section.__full.__equipment{role: "region", "aria-label" => "Equipment"}
        .ctn
          %article.block.__border
            %header.block_h
              %h2.block_t Оснащение
            %hr.hr.m-t_1.m-b_2
            .cnt
              %p Бесшумные лифты высокого класса с&nbsp;дизайнерской отделкой кабин.
              %p 
                Индивидуальная общеобменная вентиляция и&nbsp;система VRV во&nbsp;всех апартаментах.
                %br
                Круглосуточно поддерживается система контроля доступа, охранно-тревожная сигнализа- ция, система видеодомофонной связи, а&nbsp;также система видеонаблюдения.
              %p Высота и&nbsp;ширина проездов в&nbsp;паркинге, отсутствие зависимых машиномест обеспечат комфортный проезд для легковых автомобилей любых габаритов. Для особо крупноразмерных авто предусмотрены специальные машиноместа.
              %p Лифты из&nbsp;подземного паркинга следуют прямо на&nbsp;жилые этажи, без пересадок.
              %p Для каждого апартамента предусмотрена изолированная сезонная кладовая на&nbsp;территории подземного паркинга.

      %section.section.__location{role: "region", "aria-label" => "Location"}
        .ctn
          %article.block.__border
            %header.block_h
              %h2.block_t Расположение
            %hr.hr.m-t_1.m-b_2
            .cnt
              %p 
                Престижное 
                %a{href: "//maps.yandex.ru/?text=%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F%2C%20%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0%2C%20%D0%9F%D0%BE%D0%B2%D0%B0%D1%80%D1%81%D0%BA%D0%B0%D1%8F%20%D1%83%D0%BB%D0%B8%D1%86%D0%B0%2C%208%2F1%D1%811&sll=37.598591%2C55.753955&ll=37.598591%2C55.753955&spn=0.010482%2C0.003352&z=17&l=map", target: "_blank"} расположение 
                Театрального Дома свидетельствует об&nbsp;особом статусе его владельцев. В&nbsp;десяти минутах пешком&nbsp;&mdash; Кремль, Храм Христа Спасителя, ул. Старый Арбат, Пушкинская площадь. Из&nbsp;окон открывается прекрасный вид на&nbsp;зелёный сквер Мерзляковского переулка и&nbsp;Поварскую улицу, где преобладает малоэтажная застройка.
                  
      %section.section.__full.__feedback#feedback{role: "region", "aria-label" => "Feedback"}
        .ctn
          %article.block.__border
            %header.block_h
              %h2.block_t Заказать звонок
            %hr.hr.m-t_1.m-b_2
            .cnt.tx.__center.m-b_4
              %p 
                Мы&nbsp;перезвоним вам в&nbsp;удобное для вас время 
                %br
                и&nbsp;проконсультируем по&nbsp;всем вопросам
            %form{id: "feedback-form"}
              %div.m-b_1
                %label.form-el.__label Имя
                %input.form-el.__tx.__block{type: "text", name: "data[name]"}
              %div.m-b_1
                %label.form-el.__label Телефон
                %input.form-el.__tx.__block.__phone{type: "text", name: "data[phone]"}
              %div.m-b_3
                %label.form-el.__label Удобное время
                %input.form-el.__tx.__block{type: "text", name: "data[period]"}
              %div.tx.__center
                %input{type: "hidden", name: "send"}
                %a.form-el.__btn#feedback-form-submit{href: "#"} Отправить