%header#header.header{role: "banner"}
  .ctn
    .logo
      %img.logo_img{src: "/assets/images/logo.png", width: 136, height: 112, alt: 'Театральный дом'}
      %p.logo_phone (495) 725-5555
      %p.logo_feedback
        %a.a.__pseudo{href: "#feedback", data: {scroll: "true"}} Заказать звонок