@if $grid == "responsive" {
  @include media-query(tablet) {body {padding-top: 0 !important;}}
  @include media-query(phone)  {body {padding-top: 0 !important;}}
}

//****************************************************************************************************
//
// .. HEADER
//
//****************************************************************************************************
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  text-align: center;
  @include media-query(desktop) {
    &.__sticky {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1000;
      background: transparent;
      box-shadow: .1em .1em .3em rgba(0, 0, 0, .25);
    }
  }
}



//****************************************************************************************************
//
// .. LOGO
//
//****************************************************************************************************
.logo {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  background-color: $base-bg;
  text-align: center;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .10);
}
  .logo_img {
    border-right:  1px solid $major-color;
    border-bottom: 1px solid $major-color;
    border-left:   1px solid $major-color;
    vertical-align: top;
  }
  .logo_phone {
    color: $major-color;
    font-size: 1.8rem;
    font-family: $font-400;
    padding: 10px 0;
  }
  .logo_feedback {
    background-color: #efeddc;  
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
  }


//****************************************************************************************************
//
// .. BLOCK
//
//****************************************************************************************************
.block {
  position: absolute;
  z-index: 999;
  background-color: $base-bg;
  box-shadow: 0 0 0 15px $base-bg;
  &.__border {
    @include prefixes(border-image, url(/assets/images/border.png) 40 16 repeat);
    border-width: 40px 16px;
    border-style: solid;
  }
}
  .block_h {
    text-align: center;
  }
    .block_t {
      display: inline-block;
      padding: 0 20px;
      height: 40px;
      border-radius: 4px;
      background-color: $major-color;
      color: #fff;
      text-transform: uppercase;
    }



//****************************************************************************************************
//
// .. SECTION
//
//****************************************************************************************************
.section {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &:not(:last-child) {border-bottom: 5px solid $base-bg;}
  
  &.__full {min-height: 700px;}
  
  &.__home {
    background-image: url(/assets/images/layer-01.jpg);
  } 
  &.__intro {
    background-image: url(/assets/images/layer-02.jpg);
    .block {
      @include prefixes(transform, translate(-50%, -50%));
      top: 0;
      left: 50%;
      padding: 40px 0 60px;
      width: 600px;
    } 
  }
  &.__characteristics {
    background-image: url(/assets/images/layer-03.jpg); 
    .block {
      @include prefixes(transform, translate(-50%, -50%));
      top: 0;
      left: 50%;
      padding: 0 2px;
      width: 460px;
    } 
  }
  &.__equipment {
    background-image: url(/assets/images/layer-04.jpg); 
    .block {
      @include prefixes(transform, translate(-50%, -50%));
      top: 0;
      left: 50%;
      padding: 0 2px;
      width: 460px;
    } 
  }
  &.__location {
    background-image: url(/assets/images/map.jpg);
    background-attachment: scroll;
    height: 500px;
    .block {
      @include prefixes(transform, translate(-50%, -50%));
      top: 50%;
      right: 50px;
      padding: 0 2px;
      width: 380px;
    } 
  }
  &.__feedback {
    background-image: url(/assets/images/layer-05.jpg); 
    .block {
      @include prefixes(transform, translate(-50%, -50%));
      top: 50%;
      left: 50%;
      padding: 0 45px;
      width: 320px;
    } 
  }
}



//****************************************************************************************************
//
// .. ELEMENTS
//
//****************************************************************************************************
//
// .. HR
//
.hr {
  height: 20px;
  background: url(/assets/images/hr.png) center no-repeat;
}